@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Changa One', cursive;
}
body{ /*จัดให้อยู่ตรงกลาง*/
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #96e7f4;
    }
    .wrapper{ /*การ์ดพื้นหลัง*/
    height: 260px;
    max-width: 410px;
    background: #fff;
    border-radius: 7px;
    padding: 16px 25px;
    transition: height 0.2s ease;
    }
    .wrapper.active{
    height: 560px;
    }
    header h1 { /*กําหนดขนาดฟอนต์ h1*/
    font-size: 21px;
    font-weight: 500px;
    text-align: center;
    }
    
    header p{ /*กําหนดฟอนต์ สี p*/
    margin-top: 10px;
    color: #474747;
    font-size: 16px;
    }
    .wrapper .form{ /*กําหนดขนาดขอบ */
    margin: 20px 0 25px;
    }
    .form :where(input,button){ /*กําหนดรูปลักษณ์ปุ่ม */
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
    }
    .form input{ /*กําหนดรูปลักษณ์ปุ่ม input */
    font-size: 18px;
    padding: 0 17px;
    border: 1px solid #999;
    }
    .form button { /*กําหนดรูปลักษณ์ปุ่ม button */
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    background: #ef80bd;
    }
    .wrapper .qr-code{ /*กําหนดชุดแสดงผล qr code*/
    display: flex;
    opacity: 0;
    pointer-events: none;
    padding: 33px 0;
    border-radius: 5px;
    align-items: center;
    
    justify-content: center;
    border: 1px solid #ccc;
    }
    .wrapper.active .qr-code{ /*แสดงผล qr-code*/
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
    }